:root{
    --primary-color: #101727;
    --dark-secondary-color: #7B818D;
    --secondary-color: #D3D8DE;
    --white-color: #fff;
    --light-bg-color: #F5F5F5;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html, body{
    width: 100dvw;
    height: 100dvh;
}

body{
    /* background-color: orangered; */
    padding: 22px;
    overflow-x: hidden;
}

#container{
    max-width: 1200px;
    margin: 0 auto;
    background-color: white;
}

/* HEADER START  */
header{
    text-align: center;
    margin-bottom: 2.5rem;
}

header h1{
    color: var(--primary-color);
    font-weight: 700;
}

header p{
    color: var(--dark-secondary-color);
}

header p span{
    color: var(--primary-color);
    font-weight: 600;
}
/* HEADER END  */

/* MAIN START */
main{
    padding: 1rem;
    background-color: var(--light-bg-color);
    border-radius: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
}

main .row{
    background-color: var(--white-color);
    height: 400px;
    border-radius: 10px;
}    
/* MAIN END */