/* GOOGLE FONT */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --primary-color: #101727;
    --dark-secondary-color: #7B818D;
    --secondary-color: #D3D8DE;
    --white-color: #fff;
    --light-bg-color: #F5F5F5;
    --button-color: #13B169;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html, body{
    width: 100dvw;
    height: 100dvh;
}

body{
    /* background-color: orangered; */
    padding: 22px;
    overflow-x: hidden;
}

#container{
    max-width: 1200px;
    margin: 0 auto;
    background-color: white;
}

/* HEADER START  */
header{
    text-align: center;
    margin-bottom: 2.5rem;
}

header h1{
    color: var(--primary-color);
    font-weight: 700;
}

header p{
    color: var(--dark-secondary-color);
}

header p span{
    color: var(--primary-color);
    font-weight: 600;
}
/* HEADER END  */

/* MAIN START */
main{
    padding: 1rem;
    background-color: var(--light-bg-color);
    border-radius: 15px;
    display: grid;
    grid-template-columns: 1fr 500px;
    gap: 32px;
}

main .row{
    background-color: var(--white-color);
    border-radius: 10px;
    padding: 1rem;
}

/* WORKING AREA START  */
main .row #nameDiv, main .row #userNameDiv, main .row #contentDiv, main .row #profilePicDiv{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

main #workingArea label{
    font-weight: 500;
}

main .row #profilePicDiv #profileImg{
    display: flex;
    align-items: center;
    gap: 2rem;
}

main .row #profilePicDiv #profileImg #imageInput{
    position: relative;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: var(--secondary-color);
    margin-top: 12px;
    overflow: hidden;
}

main .row #profilePicDiv #profileImg #imageInput img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

main .row #profilePicDiv #profileImg #imageInput label{
    position: absolute;
    width: 100%;
    height: 20px;
    background-color: rgba(211, 216, 222, 0.8);
    bottom: 0;
    text-align: center;
    cursor: pointer;
}

main .row #profilePicDiv #profileImg #imageInput input{
    display: none;
}

main .row #profilePicDiv #profileImg #imageDelete{
    cursor: pointer;
}

main #workingArea input, main #workingArea textarea{
    margin-top: 8px;
    padding: 8px;
    border-radius: 10px;
    border: 1px solid var(--dark-secondary-color);
    outline: none;
}

main #workingArea .generateQuotesBtn{
    padding: 8px 32px;
    font-size: 1rem;
    background-color: var(--button-color);
    color: var(--white-color);
    border: none;
    border-radius: 5px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: all 0.15s;
}

main #workingArea .generateQuotesBtn:hover{
    transform: scale(0.98);
}

main #workingArea .generateQuotesBtn:active{
    transform: scale(0.95);
}
/* WORKING AREA END  */

/* FINAL PRODUCT AREA START  */
main #finalProductArea{
    position: relative;
}

main #finalProductArea #downloadBtn{
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 16px;
    padding: 8px 32px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
    color: var(--white-color);
    background-color: var(--button-color);
    cursor: pointer;
    transition: all 0.15s;
}

main #finalProductArea #downloadBtn:hover{
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

main #finalProductArea #downloadBtn:active{
    box-shadow: none;
}

main #finalProductArea #finalPost{
    background-color: var(--primary-color);
    border-radius: 5px;
    padding: 2rem 1.5rem;
}

main #finalProductArea #finalPost h3{
    color: var(--white-color);
}

main #finalProductArea #finalPost .picNameDiv{
    display: flex;
    align-items: center;
    gap: 1rem;
}

main #finalProductArea #finalPost .picNameDiv #postProfilePic{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
}

main #finalProductArea #finalPost .picNameDiv #postProfilePic img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

main #finalProductArea #finalPost .picNameDiv #postProfileName p{
    color: var(--dark-secondary-color);
    font-size: 0.9rem;
    font-style: italic;
}

main #finalProductArea #finalPost #quote{
    margin-top: 2rem;
}

main #finalProductArea #finalPost #quote p{
    color: var(--secondary-color);
}
/* FINAL PRODUCT AREA END  */
/* MAIN END */